@model MerceriaGit.Models.Tarjetas

@{
    ViewBag.Title = "Eliminar registro";
}

<div class="container text-center">
    <h1 style="color:black; font-size:4rem;font-family: 'Playfair Display';font-style:italic">Eliminar registro</h1>
</div>

<h2>¿Estás seguro que quieres eliminar este registro?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes_Vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes_Vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio_Vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio_Vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
