@model MerceriaGit.Models.Productos

@{
    ViewBag.Title = "Detalles de producto";
}

<div class="container text-center">
    <h2>Producto : @Html.DisplayFor(model => model.Nombre)</h2>
</div>

<div>
    <h4>Detalles: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcategorias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategorias.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
