@model MerceriaGit.Models.Compras

@{
    ViewBag.Title = "Realizar compra";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 class="text-center" style="font-family: 'Playfair Display'">Realizar compra</h2>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Producto, "Id Producto", htmlAttributes: new { @class = "control-label col-md-2",@style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Producto", null, htmlAttributes: new { @class = "form-control" ,@style = "font-size:1.5rem;font-family: 'Playfair Display'" })
                @Html.ValidationMessageFor(model => model.Id_Producto, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5rem;font-family: 'Playfair Display'" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5rem;font-family: 'Playfair Display'" } })
                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IVA, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5rem;font-family: 'Playfair Display'" } })
                @Html.ValidationMessageFor(model => model.IVA, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5rem;font-family: 'Playfair Display'" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5rem;font-family: 'Playfair Display'" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger", @style = "font-size:1.5rem;font-family: 'Playfair Display'" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Realizar compra" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a lista compras", "Index")
</div>
