@model MerceriaGit.Models.Compras

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2 class="text-center" style="font-family: 'Playfair Display'">Eliminar compra</h2>

<h3 style="font-family: 'Playfair Display'">¿Esta seguro en eliminar este dato?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>



    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a lista compras", "Index")
        </div>
    }
</div>
