@model MerceriaGit.Models.Compras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2 class="text-center" style="font-family: 'Playfair Display'">Detalle de compra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad) c/u
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
           $ @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
           $ @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>


    </dl>
</div>
<div class="text-center">
    @Html.ActionLink("Editar informacio", "Edit", new { id = Model.Id }, new { @class = "btn btn-info", @style = "font-size:1.8rem;font-family: 'Playfair Display';" })
</div>
<p>
    @Html.ActionLink("Regresar a lista compras", "Index")
</p>
