@model IEnumerable<MerceriaGit.Models.DetalleVenta>

@{
    ViewBag.Title = "Detalle de venta - Inicio";
}

<div class="container text-center">
    <h1 style="color:black; font-size:4rem;font-family: 'Playfair Display';font-style:italic">Detalle de venta</h1>
    
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ventas.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
