@model MerceriaGit.Models.Envios

@{
    ViewBag.Title = "Detalles de envio";
}

<div class="container text-center">
    <h2>Envio con fecha : @Html.DisplayFor(model => model.Fecha_Envio)</h2>
</div>

<div>
    <h4>Detalles: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Rastreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Rastreo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Estimada_Entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Estimada_Entrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Entrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paqueterias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueterias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventas.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventas.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
