@model MerceriaGit.Models.Subcategorias

@{
    ViewBag.Title = "Detalles de la subcategoria";
}

<div class="container text-center">
    <h2>Subcategoria : @Html.DisplayFor(model => model.Nombre)</h2>
</div>

<div>
    <h4>Detalles: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
